<!DOCTYPE html>
<html>

<head>
	<title>Eat da Burger!</title>
	<link rel="icon" href="/assets/img/burger.png">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="/assets/css/style.css">
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/burgers.js"></script>
</head>

<body>
	<div class="container">
		<br>

		<!-- Burger Image -->
		<center>
			<div class="row">
				<img src="/assets/img/burger.png">
			</div>
		</center>

		<!-- Page Title -->
		<center>
			<h1 class="title">Eat da Burger!</h1>
		</center>
		<br>

		<!-- Burger Content from index.handlebars -->
		{{{body}}}

		<br><br>

		<!-- Input New Burgers Form -->
		<form>
			<div class="row">
				<div class="col-md-3"></div>
				<div class="form-group col-md-6">
					<center><label for="new_burger">Request a new burger and place your order!</label>
					</center>
					<input id="burger_name" class="form-control" name="burger_name"></input>
				</div>

				<!-- Empty Div to help center textarea -->
				<div class="col-md-3"></div>
			</div>

			<!-- Submit Button -->
			<center>
				<button type="button" class="btn btn-danger addBurger">Place Order</button>
			</center>
		</form>
		<br>
	</div>
</body>

</html>